<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="eap-sql2xlsx.ZPM">
    <Module>
      <Name>eap-sql2xlsx</Name>
      <Version>1.0.0</Version>
      <Description>A simple example of using the python openxl library to export a request to an excel file</Description>
      <Packaging>module</Packaging>
	  <Keywords>eap paython xlsx</Keywords>
		<Author>
		<Person>Mikhaylenko Sergey</Person>
		<CopyrightDate>2021</CopyrightDate>
		<License>MIT</License>
		</Author>
      <SourcesRoot>src</SourcesRoot>
	<Resource Name="dc.msw.py.PKG"/>
	<SystemRequirements Version=">=2021.0" />
    </Module>
  </Document>
</Export>
